*/

!water-box/
!water-box/traj_tools/

!water-box/initialization/
water-box/initialization/*
!water-box/initialization/run.sh
!water-box/initialization/input_files/

!water-box/waterbox_300K_100ns/
water-box/waterbox_300K_100ns/*
!water-box/waterbox_300K_100ns/run.sh
!water-box/waterbox_300K_100ns/input_files/

!MAPI/

!MAPI/initialization/
MAPI/initialization/*
!MAPI/initialization/run.sh
!MAPI/initialization/input_files/
!MAPI/initialization/input_files/*

!MAPI/MAPI_700K_10ns/
MAPI/MAPI_700K_10ns/*
!MAPI/MAPI_700K_10ns/run.sh
!MAPI/MAPI_700K_10ns/input_files/
!MAPI/MAPI_700K_10ns/input_files/*

!MAPI/MAPI_300K_10ns/
MAPI/MAPI_300K_10ns/*
!MAPI/MAPI_300K_10ns/run.sh
!MAPI/MAPI_300K_10ns/input_files/
!MAPI/MAPI_300K_10ns/input_files/*
